*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    background: linear-gradient(45deg,#d2001a,#7462ff,#f48e21,#23d5ab);
    font-family: Arial, Helvetica, sans-serif;
}
.ws{
    width: 40px;
    margin-top: 15px;
    margin-right: 10px;
    
}

html{
    scroll-behavior: smooth;
    scroll-padding: 70px;
    
    
}

header{
    width: 100%;
    height: 72px;
    display: flex;
    position: fixed;
    margin-top: -72px;
    background: gray;
    padding-bottom: 5px;
}

nav{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-img{
    width: 160px;
    margin-left: 1px;
    margin-top: -28px; 
}

.bar-btn{
    font-size: 27px;
    color: black;
    margin-right: 15px;
    cursor: pointer;
    margin-bottom: 25px; 
}

.carrito-btn{
    font-size: 25px;
    color: black;
    margin-right: 10px;
    cursor: pointer;
    margin-top: 22px;
}

.nav-menu{
    position:fixed;
    width: 100%;
    height: 0px;
    top: 70px;
    background: gray;
    text-align: center;  
    transition: all .7s;
}

.nav-menu li{
    display: none;
    line-height: 15px;
    margin: 25px 0;
    transition: all .9s;
}

.nav-menu li a{
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
}

.nav-menu li a.active, .nav-menu li a:hover{
    color: red;
    transition: .3s;

}

#check{
    display: none;
}

#check:checked ~ .nav-menu{
    height: 150px; 
    
}

#check:checked ~ .nav-menu li{
    display: block;   
}



/* botones de ingreso y suscripcion*/


.btn-accesos{
    margin: 0px;
    display: flex;
    margin-top: 20px;
    padding: 0px;
    justify-content: right;
    font-size: 28px;
}

.usuario{
    color: black;
    margin-right: 10px;
    margin: 10px;
}



/*carrusel*/

.slider-box{
  width: 100%;
  height: auto;  
  margin: 0px auto;
  overflow: hidden;


  margin-top: 72px;

}

.slider-box ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 12s infinite alternate ease-in-out;
    
}
.slider-box li{
    list-style: none;
    width: 25%;
}
.slider-box img{
    width: 100%;
    height: 100%;
  
}
@keyframes slide{
    0%{margin-left: 0%;}
    20%{margin-left: 0%;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}

/*envio|tarjeta|seguridad*/

.informacion-icon{
    border: solid black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    height: 60px;
    width: 100%;
    background: rgb(157, 159, 157);
    overflow: hidden;
    padding: 0px;
}

.informacion-icon h4{
    color: black;
    font-size: 20px;
    margin-left: 15px;
}
.br{
    color: black;
    font-size: 12px;
    margin-top: 25px;
    margin-left: -200px;
}

.br1{
    color: black;
    font-size: 12px;
    margin-top: 25px;
    margin-left: -285px;
}
.br2{
    color: black;
    font-size: 12px;
    margin-top: 25px;
    margin-left: -215px;
}

.icon-camion{
    display: flex;
    width: 380px;
    color: black;
    font-size: 30px;
    margin-top: 7px;
    margin-left: 100px;
}

.icon-tarjeta{
    display: flex;
    width: 480px;
    color: black;
    font-size: 30px;
    margin-top: 7px;
}

.icon-candado{
    display: flex;
    width: 370px;
    color: black;
    font-size: 30px;
    margin-top: 7px;
}

/*banner*/

.banner-text{
    padding: 0 30px;
    margin-top: 180px;
    text-align: center;
    
}

.banner-text h2{
    font-size: 20px;
    font-weight: 1000; 
    color: black;
    margin-top: -160px;   
}

.banner-text h1{
    font-size: 30px;
    font-weight: 1000; 
    color: black;
    margin-top: 10px;   
    margin-bottom: 30px;
}

.button1{
    margin-right: 10px;
    padding: 5px 15px;
    background-color: red;
    color: #fff;
    border-radius: 5px;
}

.button1:hover{
    background-color: white;
    color: red;
    transition: .5s;
}

.button2{
    margin-right: 10px;
    padding: 5px 15px;
    background-color: red;
    color: #fff;
    border-radius: 5px;
}

.button2:hover{
    background-color: white;
    color: red;
    transition: .5s;
}

/*seccion de carta*/

.contenedorcard{
    width: 90%;
    margin-top: 30px; 
    margin-left: 25px;
    padding: 0%;
    justify-content: center;

}

.card{
    margin-top: 20px;
    margin-left: 40px;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.8);
    cursor: default;
    transition: all 400ms ease;
    text-align: center;
    border-style: groove;
    width: 80%;
    height: 500px;

}

.card img{
    width: 100%;
    height: 40%;
    margin-top: 15px;
    padding: 0px;
    border: solid rgb(214, 210, 237);

}

.card h2{
    
    font-weight: 600;
    width: 100%;
    margin-top: -25px;
    background: linear-gradient(45deg,#d2001a,#7462ff,#f48e21,#23d5ab);
    background-size: 300% 300%;
    animation: color 10s ease-in-out infinite;
    border: solid .5px;
}

@keyframes color{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    0%{
        background-position: 0 50%;
    }
}

.card p{
    padding: 10px;
    text-align: justify; 
}

.card h3{
    text-align: justify;
    margin: 10px;
    margin-top: 20px;
    font-weight: 500;
    
}


.card a{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 50px;
    color: #2fb4cc;
    border: 1px solid #2fb4cc;
    border-radius: 4px;
    font-weight: 550;
    transition: all 500ms ease;
}


.card:hover{
    box-shadow: 10px 10px 20px rgba(0,0,0,0.4);
    transform-origin: 50%;
    
}

.card a:hover{
    background: #2fb4cc;
    color: #fff; 
}


/*seccion tarjetas de compra*/

.box{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    border: solid rgb(143, 130, 130);

  

    width: 100%;
    height: 80px;
    

    background: linear-gradient(45deg,#d2001a,#7462ff,#f48e21,#23d5ab);
    background-size: 300% 300%;
    animation: color 10s ease-in-out infinite;
}

.box h1{
    margin: 25px 0px 0px;
    padding: 0px;
    font-size: 22px;
    

}



.contenedorcompra{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.juego{
    margin-top: 50px;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.8);
    cursor: default;
    transition: all 400ms ease;
    text-align: center;
    border-style: groove;
    width: 95%;
    height: 250px;
}

.juego img{
    width: 80%;
    height: 55%;
    margin-top: 5px;
    padding: 0px;

}

.juego h2{

    font-weight: 600;
    width: 100%;
    margin-top: -10px;
    font-size: 12px;

}


.juego p{
    padding: 5px;
    display: flex;
    justify-content: center;
    font-size: 5px;
}


.juego h3{
    text-align: justify;
    margin: 10px;
    margin-top: 8px;
    font-weight: 500;
    font-size: 15px;
}
.juego h4{
    text-align: justify;
    margin-left: 10px;
    margin-top: -8px;
    font-size: 10px;
    padding: 0px;
}


.juego a{
    text-decoration: none;
    display: flex;
    padding: 10px;
    margin-top: 20px;
    margin-right: 10px;
    color: #2fb4cc;
    border: 1px solid #2fb4cc;
    border-radius: 4px;
    font-weight: 550;
    justify-content: center;
}


.juego:hover{
    box-shadow: 10px 10px 20px rgba(0,0,0,0.4);
    transform-origin: 50%;
}

.juego a:hover{
    background: #2fb4cc;
    color: #fff; 
}

.informacion{
    display: flex;
    margin-top: 50px;
    justify-content: center;

}

/*boton de SEGUIR COMPRANDO*/

.bot{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.boton{
    border-radius: 10px;
    height: 40px;
    width: 196px;
}

.boton a{
    padding: 10px;
    color: #2fb4cc;
    border-radius: 10px;
    font-weight: 550;
    font-size: 18px;
   
}


.boton:hover{
    box-shadow: 10px 10px 20px rgba(0,0,0,0.4);
    background-color: aqua;
    transform: translateY(-3%);
    cursor: pointer;
    transition: .1s;
    
    
}
.boton a:hover{
    color: black;
}

.servi{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
    width: 100%;
    height: 80px;
    background: linear-gradient(45deg,#d2001a,#7462ff,#f48e21,#23d5ab);
    background-size: 300% 300%;
    animation: color 10s ease-in-out infinite;
    border: solid rgb(143, 130, 130);

}

.servi h1{
    margin: 20px 0px 0px;
    padding: 0px;
    font-size: 25px;
}


/*seccion de carta servicios*/

.servicios{
    width: 90%;
    margin-top: 30px; 
    margin-left: 25px;
    padding: 0%;
    justify-content: center;

}

.servi-card{
    margin-top: 20px;
    margin-left: 40px;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.8);
    cursor: default;
    transition: all 400ms ease;
    text-align: center;
    border-style: groove;
    width: 80%;
    height: 380px;

}

.servi-card img{
    width: 90%;
    height: 40%;
    margin-top: 15px;
    padding: 0px;
    border: solid rgb(214, 210, 237);

}

.servi-card h2{
    
    font-weight: 600;
    width: 100%;
    margin-top: -25px;
    background: grey;
    border: solid .9px;
}



.servi-card p{
    padding: 10px;
    text-align: justify; 
}

.servi-card h3{
    text-align: justify;
    margin: 10px;
    margin-top: 20px;
    font-weight: 500;
    
}


.servi-card a{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 35px;
    color: #2fb4cc;
    border: 1px solid #2fb4cc;
    border-radius: 4px;
    font-weight: 550;
    transition: all 500ms ease;
}


.servi-card:hover{
    box-shadow: 10px 10px 20px rgba(0,0,0,0.4);
    transform-origin: 50%;
    
}

.servi-card a:hover{
    background: #2fb4cc;
    color: #fff; 
}


/*resolucion menor a 768px*/

@media screen and (min-width:768px){

    .logo-img{
        margin-left: 1px;
    }

    .bar-btn{
        display: none;
    }

    .carrito-btn{
        margin-right: 20px;
    }
    
    nav{
        height: 100px;
        
    }

    .nav-menu{
        position: relative;
        height: 100px;
        top: 0;
        background: none;
        transition: none;
        text-align: right;
        margin-right: 50px;
    }

    .nav-menu li{
        display: inline-block;
        line-height: 60px;
        margin: 5px;
        transition: none;
    }

    .nav-menu li a{
        font-size: 15px;
    }


    .banner-text{
        justify-items: center;
        margin-top: 280px;
    
    }

    .banner-text h2{
        font-size: 25px;
        margin-top: -250px;
        width: 210px;
        margin-left: 40%;
    }
    .banner-text h1{
        font-size: 60px;
        margin-bottom: 30px;
    }

    .slider-box img{
        width: 100%;
        height: 60%;
    }

        /* botones de ingreso y suscripcion*/

    .btn-accesos{
        margin: 0px;
        display: flex;
        margin-top: 20px;
        padding: 0px;
        justify-content: right;
        font-size: 28px;
        margin-right: 15px;
    }
    
    .usuario{
        color: black;
        margin-right: 10px;
        margin: 10px;
    }


        /*seccion de carta*/

    .contenedorcard{
        width: 95%;
        margin-top: 50px; 
        display: flex;
    }

    .card{
        margin: 20px;
        border-radius: 6px;
        overflow: hidden;
        background: #fff;
        box-shadow: 0px 1px 10px rgba(0,0,0,0.8);
        cursor: default;
        transition: all 400ms ease;
        text-align: center;
        border-style: groove;
        width: 50%;
    }

    .card img{
        width: 100%;
        height: 40%;
    }

    .card p{
        padding: 10px;
        text-align: justify; 
    } 
    
    .card h2{
        font-weight: 600;
    
    }

    .card h3{
        text-align: justify;
        margin: 10px;
        margin-top: 20px;
        font-weight: 500;
        
    }

   
    .card a{
        text-decoration: none;
        display: inline-block;
        padding: 10px;
        margin-top: 20px;
        color: #2fb4cc;
        border: 1px solid #2fb4cc;
        border-radius: 4px;
        font-weight: 550;
        transition: all 500ms ease;
    }


    .card:hover{
        box-shadow: 10px 10px 20px rgba(0,0,0,0.4);
        /*transform: translateY(-3%);*/
        transform-origin: 50%;
    }

    .card a:hover{
        background: #2fb4cc;
        color: #fff; 
    }

        /*seccion de compra*/

    .box{
        display: flex;
        text-align: center;
        justify-content: center;
        margin-top: 40px;
        font-size: 25px;
        border: solid rgb(143, 130, 130);


    }

    .contenedorcompra{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin-top: 40px;
        margin-right: 45px;
    }

    .juego{
        margin-top: 20px;
        margin-left: 50px;
        border-radius: 6px;
        overflow: hidden;
        background: #fff;
        box-shadow: 0px 1px 10px rgba(0,0,0,0.8);
        cursor: default;
        transition: all 400ms ease;
        text-align: center;
        border-style: groove;
        width: 80%;
        height: 380px;
    }

    .juego img{
        width: 80%;
        height: 60%;
        margin-top: 5px;
        padding: 0px;
        border: solid rgb(214, 210, 237);

    }

    .juego h2{

        font-weight: 600;
        width: 100%;
        margin-top: -10px;
        font-size: 12px;

    }


    .juego p{
        padding: 5px;
        display: flex;
        justify-content: center;
        font-size: 8px;
    }


    .juego h3{
        text-align: justify;
        margin: 10px;
        margin-top: 8px;
        font-weight: 500;
        font-size: 18px;
    }
    .juego h4{
        text-align: justify;
        margin-left: 10px;
        margin-top: -8px;
        font-size: 10px;
        padding: 0px;
    }


    .juego a{
        text-decoration: none;
        display: flex;
        padding: 5px;
        margin-top: 40px;
        margin-right: 10px;
        color: #2fb4cc;
        border: 1px solid #2fb4cc;
        border-radius: 4px;
        font-weight: 550;
        justify-content: center;
        font-size: 15px;
    }


    .juego:hover{
        box-shadow: 10px 10px 20px rgba(0,0,0,0.4);
        /*transform: translateY(-3%);*/
        transform-origin: 50%;
    }

    .juego a:hover{
        background: #2fb4cc;
        color: #fff; 
    }


        /*envio|tarjeta|seguridad*/

    .informacion-icon{
        border: solid black;
        margin-top: -160px;
        height: 60px;
        background: rgb(157, 159, 157);
    }

    .informacion-icon h4{
        color: black;
        font-size: 20px;
        margin-left: 15px;
    }
    .br{
        color: black;
        font-size: 12px;
        margin-top: 25px;
        margin-left: -198px;
    }

    .br1{
        color: black;
        font-size: 12px;
        margin-top: 25px;
        margin-left: -285px;
    }
    .br2{
        color: black;
        font-size: 12px;
        margin-top: 25px;
        margin-left: -235px;
    }

    .icon-camion{
        display: flex;
        width: 380px;
        color: black;
        font-size: 30px;
        margin-top: 7px;
        margin-left: 100px;
    }

    .icon-tarjeta{
        display: flex;
        width: 480px;
        color: black;
        font-size: 30px;
        margin-top: 7px;
    }

    .icon-candado{
        display: flex;
        width: 370px;
        color: black;
        font-size: 30px;
        margin-top: 7px;
    }

    .servi{
        display: flex;
        text-align: center;
        justify-content: center;
        margin-top: 20px;
      
    
        width: 100%;
        height: 80px;
        background: linear-gradient(45deg,#d2001a,#7462ff,#f48e21,#23d5ab);
        background-size: 300% 300%;
        animation: color 10s ease-in-out infinite;

        border: solid rgb(143, 130, 130);
    }
    
    .servi h1{
        margin: 25px 0px 0px;
        padding: 0px;
        font-size: 25px;
    
    }



    /*seccion de carta servicios*/

    .servicios{
        width: 95%;
        margin-top: 50px; 
        display: flex;
    }

    .servi-card{
        margin: 20px;
        border-radius: 6px;
        overflow: hidden;
        background: #fff;
        box-shadow: 0px 1px 10px rgba(0,0,0,0.8);
        cursor: default;
        transition: all 400ms ease;
        text-align: center;
        border-style: groove;
        width: 25%;
    }

    .servi-card img{
        width: 80%;
        height: 40%;
    }

    .servi-card p{
        padding: 10px;
        text-align: justify; 
    } 
    
    .servi-card h2{
        font-weight: 600;
    
    }

    .servi-card h3{
        text-align: justify;
        margin: 10px;
        margin-top: 20px;
        
    }

   
    .servi-card a{
        text-decoration: none;
        display: inline-block;
        margin-top: 20px;
        color: #2fb4cc;
        border: 1px solid #2fb4cc;
        border-radius: 4px;
        font-weight: 550;
        transition: all 500ms ease;
    }


    .servi-card:hover{
        box-shadow: 10px 10px 20px rgba(0,0,0,0.4);
        /*transform: translateY(-3%);*/
        transform-origin: 50%;
    }

    .servi-card a:hover{
        background: #2fb4cc;
        color: #fff; 
    }


}













/*footer*/

.footer{
    display: flex;
    min-height: 10px;
    background-color: rgb(172, 170, 170);
    position: relative;
    width: 99.9%;
    flex-direction: column;
    text-align: center;
    margin-top: 200px;
}

.social-icon{
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    margin: 10px -1px;
    flex-wrap: wrap;   
    list-style: none;
}

.icon{
    color: white;
    font-size: 25px;
    display: inline-block;
    text-decoration: none;
    opacity: 0.75;
    transition: 0.3s;
    margin: 1px 15px;
}


.icon:hover{
    transform: translateY(-10px);
    color: black;
}

.menu{
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    margin: 0px;
    flex-wrap: wrap;
    list-style: none;
}

.menu-icon{
    color: rgb(255, 255, 255);
    font-size: 18px;
    display: inline-block;
    text-decoration: none;
    margin: 5px 10px;
    opacity: 0.75;
    transition: 0.3s;
}

.menu-icon:hover{
    color: black;
    
}

.text{
    color: white;
    text-align: center;
    margin-top: 1px;
    margin-bottom: 10px;
    font-size: 15px;    
    opacity: 0.75;
}

